.data.contact
    .wrapper
        .circle
        h2 Contact
        .line
    table
        tr
            td Address
            td Main Street, City
        tr
            td E-Mail
            td contact@domain.com
        tr
            td Phone
            td 555-555-555
        tr
            td website
            td www.yourweb.com