.data.education
    .wrapper
        .circle
        h2 Education
        .line
    ul
        li
            div        
                h2 Master degree
                h2 // Feb 2011 - Jun 2014
                h3 University Name
                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
        li
            div
                h2 Master degree
                h2 // Feb 2011 - Jun 2014
                h3 University Name
                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.

        li
            div
                h2 Master degree
                h2 // Feb 2011 - Jun 2014
                h3 University Name
                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.

        li
            div
                h2 Master degree
                h2 // Feb 2011 - Jun 2014
                h3 University Name
                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.